/* Common Shared Styles */
*{
    font-family: 'Open Sans', sans-serif;
}
.description{
    color: #757575;
    font-weight: 500;
    width: 600px;
}
body{
     margin: 0;
     padding: 50px;
}
.common-div div{
    width: 900px;
}
.common-div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    align-items: center; 
    padding: 20px;
}
.title{
    font-size: 30px;
}
#title-content{
    color: #474747;
}
#first-btn, #second-btn{
    color: blue;
    background-image: linear-gradient(red,yellow); /*for multiple colors effect*/
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

/* header */
.header{
    background-image: url('image/top-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#span-title{
    color: orange;
}

.header-image-div img{          
    height: 400px;          
    width: 400px;
    background-image: url('image/bg1.png');
    background-repeat: no-repeat;  
    background-size: contain;
    margin-right: 150px;
}
/* Main */
.empty-div{
    height: 400px;
    width: 400px;
    background-image: url('image/bg2.png');
    background-repeat: no-repeat ;
    background-size: contain;
}
#second-btn{
    background-image: linear-gradient(green,yellow);
}
.main-second-div{
    background-image: url('image/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

